
.header-section-container{
    height: 70vh;
    /* margin: 20px; */
}

.header-section-container img {
    width: 700px;
}

.header-text {
    text-align: left;
    margin-left: 20px;
}

.header-text h2 {
    color: coral;
}

.header-text a{
    text-decoration: none;
    background-color: gray;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: xx-large;
    font-weight:900;
}

.header-text a:hover{
    text-decoration: none;
    background-color: rgb(48, 185, 17);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: xx-large;
    font-weight:900;
}