
.header-section-container{
    height: 70vh;
}

.header-section-container img {
    width: 423px;
}

.header-text {
    text-align: left;
}

.header-text h2 {
    font-size: 90px;
    color: coral;
}

.header-text a{
    text-decoration: none;
    background-color: rgb(165, 196, 255);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: xx-large;
    font-weight:900;
}

.header-text a:hover{
    text-decoration: none;
    background-color: rgb(48, 185, 17);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: xx-large;
    font-weight:900;
}